<div class="container">
  <h1>Pedidos Efetuados</h1>
  <ul>
    <li *ngFor="let order of orders">
        <h4>Nº pedido: {{ order.id }}</h4>
        <ng-container *ngFor="let user of users" >
          <h5 *ngIf="order.user_id === user.id" >Login usuário: {{ user.username }}</h5>
        </ng-container>
        <h5>Produtos do pedido</h5>
        <hr>
        <ng-container *ngFor="let order_computer_id of order.computer_id">
          <div *ngFor="let computer of computers">
            <p *ngIf="computer.id === order_computer_id">Produto: {{ computer.computer_str_repr }} </p>
          </div>
        </ng-container>
        <hr>
    </li>
  </ul>
</div>